header {
    height: 80vh;
    background-color: transparent;
    background-image:
        linear-gradient(to right, #fc4d08, #f94f439a),
        url('../../../assets/img/banner.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
    color: whitesmoke;
    margin: 0 0 0 100px;
    width: 50%;
}

.header-img {
    margin-left: 100px;
}

.header-img img {
    height: 80vh;
    margin-top: 65px;
}

.header-content h1 {
    font-size: 9vmin;
    font-weight: 900;
}

.header-content h3 {
    font-size: 3vmin;
}

.header-content ul {
    margin: 20px 0;
    font-weight: 700;
}

.header-content .purches-button {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    padding: 10px 40px;
    border-radius: 8px;
    transition: 0.5s;
    font-weight: 700;
}

.header-content .purches-button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.header-content div {
    display: flex;
    justify-content: center;
}

.header-content .button {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.header-content .button:hover {
    border-bottom: 2px solid white;
    transition: 0.5s;
}